html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
}

.content {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #4f4f4f;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-size: 35px;
  line-height: 42px;
  color: #000000;
  text-align: center;
}

.btn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  cursor: pointer;
}

.btn-link {
  padding: 20px 60px;
  border: 1px solid #03bcfc;
  border-radius: 7px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background: rgba(0, 0, 0, 0);
}

.btn-link:hover {
  background: #03bcfc;
  color: #ffffff;
}

.btn-link:active {
  background: #078ff2;
  color: #fff;
}

.header {
  padding-top: 49px;
  z-index: 2;
}

.header__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 856px;
  width: 100%;
}

.header__menu-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-link {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header__menu-link:hover {
  color: #03bcfc;
}

.header__menu-link:active {
  color: #078ff2;
}

.header__menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu-item + .header__menu-item {
  margin-left: 90px;
}

.header__soc {
  display: none;
}

.home {
  margin-top: 25px;
  margin-bottom: 79px;
}

.home__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__info-title {
  font-size: 55px;
  line-height: 66px;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 23px;
}

.home__info-subtitle {
  font-size: 25px;
  margin-bottom: 65px;
}

.home__info-link {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  padding: 20px 40px;
  background: #03bcfc;
  border-radius: 7px;
  margin-bottom: 65px;
}

.home__info-link:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.94%, #03bcfc), to(#0393fc));
  background: linear-gradient(180deg, #03bcfc 11.94%, #0393fc 100%);
}

.home__info-link:active {
  background: #078ff2;
}

.home__info-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__service-price {
  max-width: 244px;
}

.home__service-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.home__service-subtitle {
  font-size: 16px;
  line-height: 20px;
}

.home__info-service-free {
  max-width: 181px;
  margin-left: 85px;
}

.home__logistics {
  margin-right: -90px;
}

.advantage {
  margin-bottom: 110px;
}

.advantage__content {
  max-width: 1240px;
}

.advantage__title {
  color: #4f4f4f;
  font-family: "Fira Sans", sans-serif;
  max-width: 470px;
  margin: 0 auto 54px auto;
}

.advantage__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 49px;
}

.advantage__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__box-title {
  margin-left: 30px;
}

.advantage__more-info {
  max-width: 890px;
  line-height: 150%;
  margin: 0 auto;
  display: none;
}

.advantage__more-info span {
  font-weight: 600;
}

.advantage__link {
  margin-top: 60px;
}

.advantage__more-info-active {
  display: block;
  padding-top: 50px;
}

.service {
  padding-bottom: 110px;
}

.service__title {
  margin-bottom: 50px;
}

.service__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.service__box-item {
  max-width: 410px;
  max-height: 525px;
  background: #ffffff;
  -webkit-box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.service__box-item-text {
  padding: 30px 43px;
}

.service__no {
  display: none;
}

.service__no--active {
  display: block;
}

.price {
  padding-bottom: 110px;
}

.price__title {
  margin: 0 auto 62px auto;
  max-width: 450px;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
}

.price__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__box-item {
  width: 300px;
  height: 210px;
  background: #ffffff;
  -webkit-box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.price__box-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 14px;
}

.price__box-subtitle {
  line-height: 20px;
  margin-bottom: 20px;
}

.price__box-price {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

.feedback__title {
  margin-bottom: 50px;
}

.feedback__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  min-height: 470px;
  width: 410px;
  padding: 18px 25px;
}

.feedback__item-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
}

.feedback__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.feedback__item-title-main {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.feedback__item-title-geo {
  font-size: 14px;
  line-height: 17px;
}

.feedback__item-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  color: #000000;
}

.feedback__item-text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 30px;
}

.feedback__more-img {
  display: inline-block;
  margin-left: 10px;
}

.feedback__slide-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container {
  padding-bottom: 50px;
}

.swiper-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #03bcfc;
  background-color: rgba(0, 0, 0, 0);
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #03bcfc;
}

.contact {
  padding: 110px 0;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__form {
  width: 520px;
  height: 658px;
  background: rgba(3, 188, 252, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 11px 30px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 52px 0;
}

.contact__title {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 35px;
}

.contact__input {
  display: block;
  width: 300px;
  height: 65px;
  background: #ffffff;
  border-radius: 7px;
  font-size: 16px;
  line-height: 150%;
  border: none;
  color: #c4c4c4;
  margin-bottom: 20px;
  padding: 20px 30px;
}

.contact__text {
  display: block;
  width: 300px;
  height: 147px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  color: #c4c4c4;
  margin-bottom: 25px;
  padding: 20px 30px;
  resize: none;
}

.contact__btn {
  width: 300px;
  height: 65px;
  background: #03bcfc;
  border-radius: 7px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 15px;
}

.contact__btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.94%, #03bcfc), to(#0393fc));
  background: linear-gradient(180deg, #03bcfc 11.94%, #0393fc 100%);
}

.contact__btn:active {
  background: #078ff2;
}

.contact__info {
  margin-top: 50px;
}

.contact__info-title {
  color: #4f4f4f;
  text-align: left;
  margin-bottom: 25px;
}

.contact__info-subtitle {
  margin-bottom: 14px;
}

.contact__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.contact__info-item-img {
  display: inline-block;
  margin-right: 10px;
}

.contact__label {
  max-width: 250px;
}

.contact__fake {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #03bcfc;
  border-radius: 1px;
  position: relative;
}

.contact__fake::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: #03bcfc;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact__label-checkbox {
  display: none;
}

.contact__label-checkbox:checked + .contact__fake::before {
  opacity: 1;
}

.contact__label-text {
  text-align: center;
}

.footer {
  padding: 110px 0 30px 0;
}

.footer__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1184px;
  width: 100%;
}

.footer__menu-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__menu-link {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.footer__menu-link:hover {
  color: #03bcfc;
}

.footer__menu-link:active {
  color: #078ff2;
}

.footer__menu-item + .footer__menu-item {
  margin-left: 90px;
}

.footer__num-link {
  font-weight: 500;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.footer__num-link:hover {
  color: #03bcfc;
}

.footer__num-link:active {
  color: #078ff2;
}

@media (max-width: 1500px) {
  .home__logistics {
    width: 650px;
  }
  .home__logistics-img {
    width: 650px;
  }
}

@media (max-width: 1500px) {
  .home__logistics {
    width: 550px;
  }
  .home__logistics-img {
    width: 550px;
  }
}

@media (max-width: 1350px) {
  .price__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .price__box-top {
    margin-bottom: 30px;
  }
}

@media (max-width: 1320px) {
  .home__info-title {
    font-size: 40px;
  }
  .home__logistics {
    width: 450px;
    margin: 0;
  }
  .home__logistics-img {
    width: 450px;
  }
  .home__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__box-item {
    width: 320px;
  }
  .service__box-item-img {
    width: 320px;
  }
}

@media (max-width: 1160px) {
  .advantage__box-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .advantage__box-img {
    margin-bottom: 10px;
    width: 90px;
  }
  .advantage__box-title {
    padding: 0 15px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
  }
  .one {
    margin-bottom: 26px;
  }
  .two {
    margin-bottom: 12px;
  }
}

@media (max-width: 1024px) {
  .home__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__logistics {
    margin: 50px 0 0 0;
    width: 702px;
  }
  .home__logistics-img {
    width: 702px;
  }
  .swiper-container-s3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .service__container {
    display: none;
  }
  .dd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .service__wrapper {
    display: none;
  }
}

@media (max-width: 1000px) {
  .footer__menu-item + .footer__menu-item {
    margin-left: 30px;
  }
}

@media (max-width: 710px) {
  .home__logistics {
    width: 600px;
  }
  .home__logistics-img {
    width: 600px;
  }
  .price__box-item {
    margin-bottom: 15px;
  }
  .price__box-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .price__box-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .header__menu-item + .header__menu-item {
    margin-left: 30px;
  }
}

@media (max-width: 850px) {
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header__menu-btn {
    width: 30px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header__menu-btn::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #4f4f4f;
    top: 0;
  }
  .header__menu-btn::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #4f4f4f;
    bottom: 0;
  }
  .header__menu-btn span {
    width: 100%;
    height: 2px;
    background-color: #4f4f4f;
    position: absolute;
    top: 9px;
  }
  .header--active {
    background-color: #fff;
    height: 100vh;
    position: relative;
  }
  .header--active .header__logo {
    margin: 50px auto 0 auto;
  }
  .header--active .header__logo-img {
    text-align: center;
  }
  .header--active .header__menu-list {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 140px;
    text-align: center;
  }
  .header--active .header__menu-item {
    margin: 0;
  }
  .header--active .header__menu-link {
    padding: 15px 100px;
  }
  .header--active .header__soc {
    display: block;
    position: absolute;
    top: 380px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
  .header--active .header__phone-item a {
    padding: 10px 100px;
  }
  .header--active .header__phone-item .cool {
    padding: 10px 60px;
  }
  .header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
  }
  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo-img {
    width: 110px;
  }
  .header__menu-list {
    display: none;
  }
  .home {
    margin-top: 84px;
  }
  .home__info-link {
    display: none;
  }
  .home__info-service {
    display: none;
  }
  .home__service-price {
    display: none;
  }
  .home__info-title {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 10px;
    text-align: center;
  }
  .home__info-subtitle {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 19px;
    text-align: center;
  }
  .home__logistics {
    margin: 0;
    width: 320px;
  }
  .home__logistics-img {
    width: 100%;
  }
  .advantage__box-img {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  .advantage__box-title {
    font-size: 15px;
    padding: 0;
  }
  .swiper-container-s2 {
    overflow: hidden;
  }
  .advantage__container {
    display: block;
  }
  .advantage__max-width {
    display: none;
  }
  .feedback__item {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .feedback__title {
    font-size: 21px;
    line-height: 25px;
  }
  .feedback__item-title-geo {
    display: none;
  }
  .feedback__item-title-main {
    font-size: 17px;
    line-height: 21px;
  }
  .feedback__item-subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .feedback__item-text {
    font-size: 15px;
  }
  .feedback__more {
    font-size: 15px;
  }
  .contact {
    padding-bottom: 50px;
  }
  .contact__content {
    padding: 0;
  }
  .contact__form {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .contact__title {
    font-size: 21px;
    line-height: 25px;
  }
  .contact__info-title {
    font-size: 21px;
    line-height: 25px;
  }
  .contact__info-subtitle {
    font-size: 15px;
  }
  .contact__info-item-text {
    font-size: 15px;
  }
}

@media (max-width: 770px) {
  .swiper-container-s3 {
    display: none;
  }
  .service__box-item {
    width: 290px;
  }
  .service__box-item-img {
    width: 290px;
  }
  .swiper-container-s4 {
    overflow: hidden;
  }
  .price__box-item {
    margin: 0 0 15px 0;
  }
  .footer {
    padding: 0;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 25px;
  }
  .footer__menu {
    margin-bottom: 20px;
  }
  .footer__num {
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .footer__inner {
    padding-top: 25px;
    border-top: 0.5px solid #bdbdbd;
  }
  .footer__logo-img {
    width: 110px;
  }
  .footer__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__menu-item {
    padding: 10px;
  }
  .footer__menu-item + .footer__menu-item {
    margin: 0;
  }
}

@media (min-width: 771px) {
  .swiper-container-s4 {
    display: none;
  }
}

@media (min-width: 601px) {
  .advantage__container {
    display: none;
  }
  .advantage__max-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .swiper-container-s3 {
    display: none;
  }
}
